
/*-----------------------------------------------------*/

.header {
    background-color: lightgray;    
    text-align: center;
    padding: 5% 0;
}

.p-max-width {
    padding: 10% 30%;
}
.text-center {
    text-align: center;  
}

.btn-primary-color {
    color: black;
    background-color: orange;
    padding: 2%;
    border-radius: 50%;
    box-shadow: 2px 5px;
   
}
        


input.box-size {
   width: 100%;
   
 }


/*---------------------------------------------------------*/


/*CSS for sidebar*/
.blackBorder {
    border-style: solid;
    border-color: black;
    
}

#container-sidebar {
    border-right-style: solid;
    border-right-color: black;
    
}

.content-sidebar {
    background-color: red;
    padding-bottom: 10px;
}


.peopleBox {
   width: 10%;
   
}


/* fyll ut sidebaren. */ 
.sideBar {   
    flex: 1;
}

body {
    height: 100%;
}

.page-content {
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.flexable {
    flex: 1;
}

/* för pristabellens formattering------------------*/
th {
  text-align: left;
    
}

th.ar{
  text-align: right;
    
}

.topbottomline {
background-color: lightgrey;
    border-top-width: thin;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: solid;
    height: 20px;

    }

td.ar{
  text-align: right;
}

/*---------------------------------------------------------*/
/*Content for search people*/

.searchBar {
 width: 100%;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: blue;
    
}

.searchBox {
 width: 20%;    
    
}

.selectBox {
 width: 20%;
 padding: 60px 0 0 20px;    
      
}

#searchBtn {
      
}
.padd {
 padding: 60px 4%;  
    
}
.content-search {
    display: flex;
    flex-direction: column;
}

#container-search {
    flex: 1;
}

.flexSearch {
  
    
}

.flexrow{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.pagerow {
    display: flex;
    flex-direction: row;
    height: 100%;
}

figcaption {
    text-align: center;
}


  

.icon {    
    float: right;
    
}

/*--------------- content for detail ---------------------*/



.detailDish {
    width: 100%;
    
}

.detailResult {
     padding-bottom: 30px;
    text-align: center;
}
.content-detail {
    display: flex;
    flex-direction: column;
}

#container-detail {
    flex: 1;
}
#backToSearchBtn {
    
}

.ingredients {
    flex: 1;
    max-width: 300px
}

.mat {
    background-color: green;
}

/*-----------------------------------------------*/
.mydet {
    flex: 1;
    border-bottom-color: black;
    border-bottom-style: solid;
    
}

#container-overview {
    flex: 1;
}

.t-right {
    text-align: right;
}
.t-center {
    text-align: center;
    padding: 20px;
    
}

.backspace {
    padding: 16px;
    
}
.btnBack{
    
}

.fill{
    flex: 1;
  
}
.sepLine{
    border-bottom-color: black;
    border-bottom-style: dashed;
  
}
.spanFLexCol{
    display:flex;
    flex-direction: column;
}


/* ändringar som behövs om skärmen är liten----------------*/

@media all and (max-width: 600px) {
    .pagerow {flex-direction: column;  }
}







