/*-----------------------------------------------------*/

.header {
    background-color: lightgray;
    text-align: center;
    padding: 5% 0;
}

.p-max-width {
    padding: 10% 30%;
}

.text-center {
    text-align: center;
}

.btn-primary-color {
    color: black;
    background-color: orange;
    padding: 2%;
    border-radius: 50%;
    box-shadow: 2px 5px;

}



input.box-size {
    width: 100%;

}


/*---------------------------------------------------------*/


/*CSS for sidebar*/
.blackBorder {
    border-style: solid;
    border-color: black;

}

#container-sidebar {
    border-right-style: solid;
    border-right-color: black;

}

.content-sidebar {
    padding-bottom: 10px;
    min-width: 150px
}


.peopleBox {
    min-width: 15%;
    max-width: 30%;

}

#tableSidbar {
    display: flex;
    flex-direction: column;

}

/* fyll ut sidebaren. */
.sideBar {
    flex: 1;
}

body {
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flexable {
    flex: 1;
}

/* för pristabellens formattering------------------*/
th {
    text-align: left;

}

th.ar {
    text-align: right;

}

.topbottomline {
    background-color: lightgrey;
    border-top-width: thin;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: solid;
    height: 20px;

}

td.ar {
    text-align: right;
}

/*---------------------------------------------------------*/
/*Content for search people*/

.searchBar {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: black;
    max-height: 20%;

}

.searchBox {
    min-width: 10%;

}

.selectBox {
    width: 20%;
    padding: 60px 0 0 20px;

}

#searchBtn {}

.padd {
    padding: 60px 4%;

}

.content-search {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#container-search {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flexSearch {

    flex: 1;
}

.flexrow {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.pagerow {
    display: flex;
    flex-direction: row;
    height: 100%;
}

figcaption {
    text-align: center;
    
}


.dishbox {
    flex: 1;
    
    

}

.icon {
    float: right;

}

.dishContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.spinner-border {}

.sr-onlyy {}

/*--------------- content for detail ---------------------*/

tbody {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.f1 {
    flex: 1;
}

.detailDish {
    width: 100%;


}

.foto {
    max-width: 50%;


}

.detailResult {
    width: 50%;
    height: 100%;
    padding-bottom: 30px;

}

.content-detail {
    display: flex;
    flex-direction: column;
    height: 100%
}

#container-detail {
    flex: 1;
}

#backToSearchBtn {
    max-height: 20px;
    width: 120px;
    margin-left: 42px;
    margin-bottom: 80px;
}

#addToMenuBtn {}

.ingredamount {
    padding-bottom: 30px;
    width: 100%;
    margin: 10px;
    border-style: dashed;

}

.spacing {
    margin-left: 42px;
}

.ingredients {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.preparation {
    
    margin-left: 42px;
}

.fcolumn {
    display: flex;
    flex-direction: column;
}

.detCap {
    max-width: 50%;
}

.text-right {
    text-align: end;
}

/*-----------------------------------------------*/
.mydet {
    flex: 1;
    border-bottom-color: black;
    border-bottom-style: solid;

}

#container-overview {
    flex: 1;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
    padding: 20px;

}

.backspace {
    padding: 16px;

}

.btnBack {}

.fill {
    flex: 1;

}

.filler {
    flex-wrap: wrap;
}

.sepLine {
    border-bottom-color: black;
    border-bottom-style: dashed;

}

.spanFLexCol {
    display: flex;
    flex-direction: column;
}



/*--------------------Conntent for printout---------------------*/


.btn-go {}

.printBox {
    display: flex;
    flex-direction: row;
}

.myDinHed {
    display: flex;
    flex-direction: row;
}

.fEnd {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.fStart {
    flex: 1;
    text-align: left;
}

.DetPrint {
    flex-direction: row;
    flex: 1;
}


.prepPrint {
    height: 100%;
    margin-left: 42px;
}

.foodDesk {
    margin-left: 42px;
}

.flexPic {
    flex: 1;
    margin: 23px 0;
}

.fotoPrint {
    max-width: 150px
}


/* ändringar som behövs om skärmen är liten----------------*/

@media all and (max-width: 600px) {
    .pagerow {
        flex-direction: column;
        height: auto;
    }

    .myDinHed {
        flex-direction: column;
    }

    .DetPrint {
        flex-direction: column;
    }
    
    .printBox {
        flex-direction: column;
    }


}
